body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
}

.footer {
  display: flex;
  color: #e5e7eb;
  justify-content: center;
}

.header-left {
  font-size: 24px;
  justify-content: center;
}

.header-right {
  color: #e5e7eb;
  justify-content: flex-end;
  padding-right: 10px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9faf8;
  flex-direction: row;
  flex-grow: 2;
  height: 30%;
}
.section-1-left {
  display: flex;
  width: 50%;
  padding: 10px;
  flex-direction: column;
}

.section-1-container-3 {
  background-color: #3882f6;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
  text-align: center;
  color: #e5e7eb;
}

.section-1-right {
  background-color: grey;
  width: 50%;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.section-1-container-4 {
  align-items: center;
  justify-content: center;
}
